.divList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 200px;
    max-width: 100%;
    /* width: 200px; */
    border: 1px solid gray;
    margin: 5px;
}

.lblDel:hover{
    cursor: pointer;
}
