.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divSearch{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.divAdd{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.divFirst{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.divTaskList{
    display: flex;
    flex-direction: column;
}
.divTask{
    display: flex;
    flex-direction: column;
    justify-content:left;
}

.lblTask{
    display: flex;
    justify-content: left;
}
.divHide{
    margin: 10px;
}